.grid {
  width: 485px;
  height: 210px;

  &__row {
    display: flex;
   // flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;

  }

  &__block {
    display: inline-block;
    position: relative;
    float: none;
    overflow: hidden;
    flex-grow: 1;
    margin: 0 1%;
    padding: 10px 0;
  }
}