.info {
  /*
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

   */

  align-items: center;
  display: flex;
  justify-content: space-around;
  position: absolute;
  text-align: center;

  height: 32px;

  background-color: #94d4f4;

  &__element {
    //margin: 0 10px;

    //width: 30px;
    //height: 32px;
  }

  &__bonus {
    //margin: 30px auto;

   /// width: 65px;
    //height: 24px;
  }
}