.counter {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  margin: 0 auto;

  background-color: #1f4a5e;

  &__circle {
    position: relative;
    vertical-align: middle;

    width: 100px;
    height: 100px;

    background-color: #63818f;
    border-radius: 50%;
  }

  &__number {
    margin: auto;
    padding: 11px 0;

    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 55px;
    font-weight: 900;
    text-align: center;
  }
}