.block {
  position: relative;
  margin: 50px;
  padding: 0;

  background-color: #f28e37;
  border: none;

  cursor: pointer;

  &:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 30%);
  }

  &__number {
    margin: auto;

    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
  }

  &__finger {
    position: absolute;
    margin: 0 auto;
    top: 60px;
    left: 24.5px;

    width: 96px;
    height: 103px;

    pointer-events: none;
    background-color: red;
  }
}