.block {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 90%;

  padding: 0;

  border: none;
  cursor: pointer;

  &_flick {
    animation: flick 500ms ease-in alternate infinite;
  }

  &_rotate {
    .block__number {
      animation: rotate 300ms ease-in alternate infinite;
    }
  }

  &_blink {
    animation: blink 450ms ease-in alternate infinite;
  }

  &_size-1 {
    font-size: 50px;
  }

  &_size-2 {
    font-size: 35px;
  }

  &_size-3 {
    font-size: 26px;
  }

  &_size-4 {
    font-size: 20px;
  }

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 30%);
  }

  &__number {
    margin: auto;

    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #ffffff;

    width: 100%;
  }

  &__finger {
    position: absolute;
    margin: 0 auto;
    top: 60px;
    left: 24.5px;

    width: 96px;
    height: 103px;

    pointer-events: none;
    background-color: red;
  }
}

@keyframes flick {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.875);
  }
  50% {
    transform: scale(0.75);
  }
  75% {
    transform: scale(0.625);
  }
  100% {
    transform: scale(0.5);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(20deg);
  }
}