body {
  display: block;
  width: 100%;
  height: 100%;

  background-color: #f7f5fa;
}

.main {
  position: relative;
  margin: 0 auto;
  width: 718px;
  height: 528px;

  &__header {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 136px;
    background-image: url("../../public/images/header_background.svg");
    background-size: cover;
  }

  &__header:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(271deg, rgba(168, 129, 253, 0.53), #5900b1);
  }

  &__container {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 260px;
    height: auto;
  }

  &__title {
    margin: 0 0 10px 0;

    font-family: Montserrat,Open Sans,sans-serif;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
  }

  &__subtitle {
    font-family: Montserrat,Open Sans,sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    margin: 0;

    color: #ffffff;
  }

  &__image{
    width: 100%;
    height: 100%;
  }

  &__tutorial {
   // margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    top: 136px;
    left: 0;
    width: 100%;
  }

  &__button {
    position: relative;
    top: 170px;
    margin: auto;
    display: block;
    padding: 16px 40px;

    width: 177px;
    height: 56px;

    border: 1px solid #6039aa;
    border-radius: 50px;
    letter-spacing: 0.5px;
    color: #ffffff;
    background: #6039aa;
    font: 16px "Open Sans", sans-serif;
  }

  &__button:hover {
    transform: translateY(-2px);
    //border-bottom: 2px solid #dedede;
    background: #8061bb;
  }
}

