.result-panel {

  &__items {
    list-style-type: none;
    padding-left: 0;
  }

  &__item-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 250px;
    height: 35px;
  }

  &__description {
    margin-right: 30px;
    //margin-bottom: 5px;
    width: 150px;
    text-align: left;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  &__value {
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
  }
}
